<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add product</title>
</head>
<body>
  <form action="addProduct" method="post">
    Name: <input type="text" name="name"><br><br>
    Quantity: <input type="text" name="quantity"><br><br>
    Price: <input type="text" name="price"><br><br>
    <input type="submit" value="Add product">
  </form>
  <a href="/"><h3>Go home..</h3></a>
</body>
</html>