<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Cart</title>
</head>
<body>
  Your cart has been deleted...!!
  <a href="/">Go Home</a>
</body>
</html>