<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Product</h1>
    <a href="showProducts">Show products</a><br>
    <a href="addProduct">Add Product</a><br>
    <a href="editProduct">Edit Products</a><br>
    <h1>Cart</h1>
    <a href="addToCart">Add to cart</a><br>
    <a href="showCart">Show cart</a><br>
    <a href="editCart">Edit Cart</a><br>
    <a href="deleteCart">Clear Cart</a><br>
    <a href="confirmOrder">Confirm Order</a>
  </body>
</html>