<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>You are logged out successfully.. <br>
  <a href="/"><b>Click here</b></a> to login again..</p>
  <!-- You are logged out successfully.. <br>
  <a href="/">Click here</a> to login again.. -->
</body>
</html>