<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User added</title>
</head>
<body>
  <p>User added successfully..! <br>
  <a href="/adminPage"><b>Click here</b></a> to go to admin page..</p>
  <!-- User added successfully..! <br>
  <a href="adminPage">Click here</a> to go to admin page.. -->
</body>
</html>